@model IEnumerable<Event>

@{
    ViewData["Title"] = "Index";
}
<div class="container px-3 my-4">
    <h1>Events</h1>
    <a asp-action="Create">Create Event</a>
    @foreach (var item in Model) {
        <div class="card p-0 my-2">
            <h5 class="card-header bg-dark text-light">DeadLine : @item.DeadLine</h5>
            <div class="card-body">
                <h5 class="card-title">@item.EventName</h5>
                <p class="card-text">@item.EventDescription</p>
                <a asp-action="details" asp-route-id="@item.Id" class="btn btn-dark">Details</a>
            </div>
        </div>
    }
</div>
